<!DOCTYPE html>
<html>
<head>
	<title>Auto Complete Bahasa Aceh</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="text-align: center;">
	<h1>Kamus Besar Bahasa Aceh (KBBA)</h1>
	<p>Indonesia - Aceh - English</p>
	<p>{{ indonesia }} - {{ aceh }} - {{ english }}</p>
	<br>
	<a href="{{ url_for('acehnese_dictionary_blueprint.search_data_indonesia_aceh')}}">Cari yang lain (Indonesia -Aceh)</a>
</body>
</html>
